@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.register {
  background-image: url(./../assets/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
@font-face {
  font-family: 'futura BdCn BT';
  src: url('./../../public/FuturaBoldCondensedBT.ttf');
}

@font-face {
  font-family: 'futura Md BT';
  src: url('./../../public/FuturaMediumBT.ttf');
}

body, span, .left {
  font-family: 'futura Md BT';
  font-weight: 400;
  
}

p {
  font-family: 'futura Md BT';
  font-weight: 100;
  font-size: 16px;
  padding-bottom: 24px;
  
}


h1,h2,h3,h4,h5,h6,button,label, .four, .price {
  font-family: 'futura BdCn BT';
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: #535253;
}

/* Track */
::-webkit-scrollbar-track {
  background: #535253;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF7A00;
  border-radius: 1rem;
}
