@tailwind base;
@tailwind components;
@tailwind utilities;

.register {
  background-image: url(./../assets/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.Registers {
  background-image: url(./../../public/regbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.teamInfo {
  height: 100vh;
  width: 100%;
  background: url(../assets/portal/grid-bg.png),
    url(../assets/portal/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

.scrollable-form {
  max-height: 80vh;
  overflow-y: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
  font-family: "futura BdCn BT";
  src: url("./../../public/FuturaBoldCondensedBT.ttf");
}

@font-face {
  font-family: "futura Md BT";
  src: url("./../../public/FuturaMediumBT.ttf");
}

@font-face {
  font-family: "Futura Condensed Extra";
  src: url(./../../public/Futura\ Condensed\ Extra\ Bold.otf);
}
@font-face {
  font-family: "Futura XBlkCnIt BT";
  src: url(./../../public/FuturaExtraBlackCondensedItalicBT.ttf);
}

body,
.left {
  font-family: "futura Md BT";
  font-weight: 400;
}

span {
  font-family: "futura BdCn BT";
}

p {
  font-family: "futura Md BT";
  font-weight: 100;
  font-size: 16px;
  padding-bottom: 24px;
}

.selected {
  font-family: "Futura Condensed Extra";
}
.unselected {
  font-family: "Futura XBlkCnIt BT";
}
input {
  font-family: "futura BdCn BT";
}
.box {
  font-family: "futura BdCn BT";
  bottom: 100%;
  top: auto;
}

.ham {
  font-family: "futura Md BT";
}
button,
.bdcn {
  font-family: "futura BdCn BT";
}

@keyframes text-growth {
  0% {
    font-size: 2rem;
  }
  100% {
    font-size: 4rem;
    color: white;
  }
}

.animate-text-growth {
  animation: text-growth 0.35s ease-in-out forwards;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
.four,
.price {
  font-family: "futura BdCn BT";
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background: #535253;
}

/* Track */
::-webkit-scrollbar-track {
  background: #535253;
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7a00;
  border-radius: 1rem;
}

.country > div > div {
  padding-bottom: 0%;
}

.country > div > div > button {
  padding-bottom: 10px;
}

.country > div > div > button > .ReactFlagsSelect-module_selectValue__152eS {
  color: #00000036;
}

.country
  > div
  > div
  > button
  > .ReactFlagsSelect-module_selectValue__152eS
  > span {
  color: #000000;
}
