@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'futura BdCn BT';
  src: url('./../../public/FuturaBoldCondensedBT.ttf');
}

@font-face {
  font-family: 'futura Md BT';
  src: url('./../../public/FuturaMediumBT.ttf');
}

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body, span {
  font-family: 'futura Md BT';
  font-weight: 400;
  
}

h1,h2,h3,h4,h5,h6, .four {
  font-family: 'futura BdCn BT';
  font-weight: 400;
}
