.bg {
  background-image: url(./../assets/background1.png),
    url(./../assets/Background-main.png);
  background-position: center center, center center;
  background-size: cover, contain;
  background-repeat: no-repeat, repeat;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.00001),
      rgba(255, 255, 255, 0.00001)
    ),
    url(./../assets/Background-main.png), url(./../assets/background1.png);
}

.container {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
}

.textdiv {
  width: 45%;
}

.imagediv {
  align-self: center;
}

.bottomdiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
    padding-left: 4%;
    gap: 30px;
    justify-content: center;
  }
  .textdiv {
    padding-left: 70px;
    width: 80%;
  }
  .bottomdiv {
    align-content: center;
    justify-content: center;
  }
  #instr {
    padding-right: 50px;
  }
  #expo {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 30px;
    padding-left: 8%;
    gap: 20px;
    justify-content: center;
  }
  .bottomdiv {
    align-content: center;
    justify-content: center;
  }
  .textdiv {
    width: 50%;
  }
  #instr {
    padding-left: 50px;
  }
  #expo {
    padding-left: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 130px;
    padding-left: 13%;
  }
  .bottomdiv {
    align-content: center;
    justify-content: center;
    padding-right: 80px;
  }
  #instr {
    padding-right: 20px;
  }
  #expo {
    padding-left: 90px;
  }
}

@media only screen and (min-width: 992px) {
  .bg {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
    padding: 13%;
    padding-left: 12%;
    margin: 10px;
    justify-content: center;
  }
  .textdiv {
    width: 50%;
  }
  .imagediv {
    align-self: center;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 6%;
    padding-left: 7%;
    gap: 100px;
  }
  .bottomdiv {
    justify-content: space-between;
  }
  .textdiv {
    width: 45%;
  }
  .imagediv {
    align-self: center;
  }
}

@media only screen and (min-height: 850px) {
    .container {
      padding: 6%;
      padding-left: 7%;
      gap: 100px;
    }
    .bottomdiv {
      padding-top: 70px;
      justify-content: space-between;
    }
    .textdiv {
      width: 40%;
    }
    .imagediv {
      align-self: center;
    }
  }

  @media only screen and (min-height: 1080px) {
    #heading{
        font-size: 60px;
        padding: 2%;
    }
    .container {
      padding: 9%;
      padding-left: 7%;
      gap: 100px;
    }
    .bottomdiv {
      padding-top: 70px;
      justify-content: space-between;
    }
    .textdiv {
      width: 40%;
    }
    .imagediv {
      align-self: center;
      width: 600px;
    }
    #bodytext{
        font-size: 30px;
    }
  }